body{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    box-sizing: content-box;
}

#tile-container {
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap

    
}

.tiles {

border: 1px solid black;

    
}


h1{

    font-size: 60px;
}


p{
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
}
